{% extends "layout" %}

{% block content %}
<div class="row">

  <div class="col-lg-4 col-md-6 col-sm-12">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Levesek</div>

      <!-- List group -->
      <ul class="list-group">
        <li class="list-group-item">Leves1</li>
        <li class="list-group-item">Leves2</li>
        <li class="list-group-item">Leves3</li>
      </ul>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-sm-12">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Levesek</div>

      <!-- List group -->
      <ul class="list-group">
        <li class="list-group-item">Leves1</li>
        <li class="list-group-item">Leves2</li>
        <li class="list-group-item">Leves3</li>
      </ul>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-sm-12">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Levesek</div>

      <!-- List group -->
      <ul class="list-group">
        <li class="list-group-item">Leves1</li>
        <li class="list-group-item">Leves2</li>
        <li class="list-group-item">Leves3</li>
      </ul>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-sm-12">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Levesek</div>

      <!-- List group -->
      <ul class="list-group">
        <li class="list-group-item">Leves1</li>
        <li class="list-group-item">Leves2</li>
        <li class="list-group-item">Leves3</li>
      </ul>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-sm-12">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Levesek</div>

      <!-- List group -->
      <ul class="list-group">
        <li class="list-group-item">Leves1</li>
        <li class="list-group-item">Leves2</li>
        <li class="list-group-item">Leves3</li>
      </ul>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-sm-12">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Levesek</div>

      <!-- List group -->
      <ul class="list-group">
        <li class="list-group-item">Leves1</li>
        <li class="list-group-item">Leves2</li>
        <li class="list-group-item">Leves3</li>
      </ul>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-sm-12">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Levesek</div>

      <!-- List group -->
      <ul class="list-group">
        <li class="list-group-item">Leves1</li>
        <li class="list-group-item">Leves2</li>
        <li class="list-group-item">Leves3</li>
      </ul>
    </div>
  </div>

</div>
{% endblock %}
